.root {
    -fx-background-color: linear-gradient(to bottom right, #dce0f7,  #d1c7d0);
    -fx-font-family: "Roboto Mono";
    -fx-font-size: 16;
}

.button {
    -fx-padding: 10 16;
    -fx-background-radius: 5;
    -fx-background-color: #e0e0e0;
    -fx-effect: dropshadow( two-pass-box, rgba(0, 0, 0, .6), 5, 0.0 , 0 , 1 );

}

.button:hover {
    -fx-background-color: #9fb5f5;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

#cardBtn {
    -fx-padding: 0;
    -fx-background-radius: 0;
    -fx-background-color: none;
    -fx-opacity: 0.8;

}

#rulesBtn {
    -fx-padding: 5;

}

#cardBtn:hover {
    -fx-opacity: 1;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

#headingOne {
    -fx-font-size: 28;
    -fx-font-width: 700;
}

#headingPlayer {
    -fx-font-size: 18;
    -fx-font-weight: 700;
}

#choiceBox {
    -fx-padding: 2 5;
    -fx-background-radius: 5;
    -fx-background-color: #e0e0e0;;
}

#turnLabel {
    -fx-background-color: #e0e0e0;
    -fx-effect: dropshadow( two-pass-box, rgba(0, 0, 0, .6), 5, 0.0 , 0 , 1 );
    -fx-background-radius: 5;
    -fx-font-size: 11px;

}